.helpButton {
  height: 15rem;
  width: 15rem;
  background-color: red;
  font-size: xx-large;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.buttonConteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
}

body {
  margin: 0%;
}
