.mainContainer {
  display: flex;
  flex-direction: column;
  width: 10rem;
  background-color: hsl(351, 100%, 86%, 0.5);
  border-radius: 10px;
  position: absolute;
  right: 0%;

  button div {
    display: flex;
    flex-direction: row;
    direction: rtl;
    color: black;

    div {
      margin-left: 10px;
    }
  }
}
